nav {
    background-color: black;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

nav a{
    color: blue;
    
}

@media screen and (max-width: 600px) {
 nav {   
flex-direction: column;
    
}
}